@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lora|Patua+One|Quattrocento+Sans|Raleway|Red+Hat+Display:900|Vidaloka&display=swap');


header{
font-size:4em ;
font-family: 'Lora', serif;
}

h1, h2, h3 {
  font-size: 2em;
  font-family: 'Lora', serif;
}

p {
  font-size: 300;
  font-family: 'Raleway', sans-serif;
}

#fable01 h2 {
  font-size: 4em;
  font-family: 'Bree', serif;
}

#fable01 p {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

#fable02 h2{
  font-size: 6em;
  font-family: 'Patua', serif;
}

#fable02 p {
  font-size: 2em;
  font-family: 'Red Hat Display : 900';
}

#fable03 h2 {
  font-size: 6em;
  font-family: 'Vidaloka';
}

#fable03 p {
  font-size: 1.5em;
  font-family: 'Vidaloka';
}
